# version: '3.8'

# ollama setup
services:
  ollama:
    container_name: plant-me
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama
    environment:
      - OLLAMA_API_KEY=${OLLAMA_API_KEY:-YOUR_API_KEY}
      - OLLAMA_MODEL=${OLLAMA_MODEL:-mistral}
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "/scripts/health_check.sh" ]
      interval: 30s
      timeout: 10s
      retries: 5
    #deploy:
    #  resources:
    #    limits:
    #      cpus: '4.0'
    #      memory: '16G'
    #    reservations:
    #      cpus: '2.0'
    #      memory: '8GB'
volumes:
  ollama: